<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tifone.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.tifone.demo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.tifone.demo.view.event.EventDispatchDemoActivity" />
        <activity android:name="com.tifone.demo.algorithm.MainActivity" />
        <activity android:name="com.tifone.demo.data.MainActivity" />
        <activity android:name="com.tifone.demo.structure.MainActivity" />
        <activity android:name="com.tifone.demo.osource.MainActivity" />
        <activity android:name="com.tifone.demo.image.MainActivity" />
        <activity android:name="com.tifone.demo.system.MainActivity" />
        <activity android:name="com.tifone.demo.view.MainActivity" />
        <activity android:name="com.tifone.demo.pattern.MainActivity" />
        <activity android:name="com.tifone.demo.opengl.MainActivity" />
        <activity android:name="com.tifone.demo.database.MainActivity" />
        <activity android:name=".android.AndroidDemoActivity" />
    </application>

</manifest>